/*CONTENEDOR GENERAL*/
.menu_container{
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    background-color: black;
}
.cards_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.cards_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    height: 270px;
    border-radius: 20px;
}

/*CONTENEDOR FRONTEND*/
.frontend_container{
    padding: 12px;
}
.titulo_front{
    background-color: #6BD1FF;
    color: #2271D1;
    border-radius: 20px;
    font-size: 25px;
    width: 350px;
}
.front_img img{
    width: auto;
    height: auto;
    max-width: 370px;
    max-height: 200px;
    border-radius: 20px;
    border: 4px solid #6BD1FF;
}
.btn_cards{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.btn_borrar_f, .btn_editar_f{
    color: white;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.btn_borrar_f:hover, .btn_editar_f:hover{
    color: #2271D1;
}
.btn_cards i{
    font-size: 29px;
    display: flex;
    align-items: center;
}

/*CONTENEDOR BACKEND*/
.backend_container{
    padding: 12px;
}
.titulo_back{
    background-color:#00C86F;
    color: #007A3D;
    border-radius: 20px;
    font-size: 25px;
    width: 350px;
}
.back_img img{
    width: auto;
    height: auto;
    max-width: 370px;
    max-height: 200px;
    border-radius: 20px;
    border: 4px solid #00C86F;
}
.btn_borrar_b, .btn_editar_b{
    color: white;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.btn_borrar_b:hover, .btn_editar_b:hover{
    color: #007A3D;
}

/*CONTENEDOR INNOVACION*/
.innovacion_container{
    padding: 12px;
}
.titulo_innovacion{
    background-color:#FFBA05;
    color: #FF7300;
    border-radius: 20px;
    font-size: 25px;
    width: 350px;
}
.inn_img img{
    width: auto;
    height: auto;
    max-width: 370px;
    max-height: 200px;
    border-radius: 20px;
    border: 4px solid #FFBA05;
}
.btn_borrar_i, .btn_editar_i{
    color: white;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.btn_borrar_i:hover, .btn_editar_i:hover{
    color: #FF7300;
}